@import "../style.css";

.projects {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}

time {
  display: block;
  text-align: center;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
}

.swatch {
  display: inline-block;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: var(--color);
  vertical-align: middle;
  border-radius: 25%;
}

.legend {
  flex: 1;
  padding-left: 0px;
  border: rgb(174, 209, 197) solid 1.5px;
  border-radius: 12px;
  padding: 12px;
  margin: 0px;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  column-gap: 0px;
}

li {
  align-items: left;
  list-style-type: none;
}

.chart-container {
  display: flex;
  flex: 1;
  column-gap: 30px;
  align-items: center;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(59.97% 0.18053 359.807) !important;

  &:is(path) {
    fill: var(--color) !important;
  }
}