* {
  margin-top: 0;
}

:root {
  --color-accent: oklch(0.4667 0.2089 275);
  --background-color-accent: oklch(0.939 0.0326 275);
  color-scheme: light dark;
  --border-color: light-dark(oklch(0.8 0.03 200), oklch(60% 0.1 200 / 0.4));
}

h1 {
  font-size: 4em;
}

h2 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

article > p {
  padding-inline: 20px;
}

body {
  accent-color: var(--color-accent);
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  margin-top: 8px;
}

article > img {
  display: block;
  min-height: 10px;
  max-height: 100px;
  min-width: 10px;
  max-width: 100px;
  aspect-ratio: 1;
}

img {
  aspect-ratio: 1;
  width: 100%;
  justify-self: center;
}

nav {
  display: flex;
  margin-bottom: 32px;
  border-bottom: 1px solid var(--border-color);
  a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
    transition: background-color 0.2s ease-in-out 0.05s;
  }
  :hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.4em;
    background-color: color-mix(in oklch, var(--color-accent), canvas 55%);
  }
}

select {
  font-size: inherit;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.current {
  padding-bottom: 0.4em;
  border-bottom: 0.4em solid var(--border-color);
}

.color-scheme {
  display: inline-block;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-size: 80%;
}

dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

dt {
  font-weight: bold;
  font-size: 24px;
  grid-row: 1 / span 1;
}

dd {
  font-weight: none;
  font-size: 16px;
  grid-row: 2/ span 1;
  margin-inline-start: 0px;
}